.plus-icon{
    height: 20px;
    width: 20px;
}
.todo-input-wrapper{
    display: flex;
    gap: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.todo-input-wrapper input{
    background-color: rgb(207, 198, 198);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}
.todo-input-wrapper button{
    background-color: rgb(146, 228, 228);
    color: rgb(15, 16, 16);
    border: 10px;
    border-radius:5px ;
}